body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
}
#box{
    width: 75%;
    margin: auto;
}
#titulo{
    border-style: solid;
    background-color: white;
    font-family: cursive;
}

header{
    text-align: center;
    display: inline-block;
    height: auto;
    display: flex;
}
#letras{
    width: 60%;
    background-color: #19D4FF;
    text-align: right;
    padding-right: 10px;
}
#logo{
    width: 50%;
    text-align: left;
    background-color: #19D4FF;
    padding-bottom: 10px
}
#logo>img{
    width:25%;
    height:100%;
}
nav{
    overflow: hidden;
    border: 1px solid black;
    background-color: #FFE800;
}
/* Style the buttons inside the tab */
nav button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 17px;
    font-family: cursive;
}

/* Change background color of buttons on hover */
nav button:hover {
    background-color: rgba(0, 0, 0, 0.486);
    color: #FFE800;
}

/* Create an active/current tablink class */
nav button.active {
    background-color: black;
    color: #FFE800;
}
.navContent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.navContent>h3{
    margin-bottom: -20px;
    font-family: "Arial", serif;
}
.navContent>video{
    width:320px;
    height:240px;
}
.navContent>article{
    margin-top: 5px;
}
#cuerpo{
    border-style: solid;
    display: inline-block;
    height: auto;
    display: flex;
    background-color: white
}
#cambio{
    width: 50%;
    text-align: center;
    background-color: #CC6E91;
}
article{
    color: rgba(39, 39, 39, 0.904);
    font-family: "Arial", serif;
    font-size: 12pt;
}
#canvas{
    width: 50%;
    background-image: url("../imagenes/cielo.png");
    background-size: cover;
    background-position: center;
    background-color: #000;
}
#canvas .cesium-credit-textContainer{
    display: none;
}
footer{
    margin: auto;
    border-style: solid;
    border-color: black;
    height: 50px;
    background-color: #B20949;
    text-align: center;
}
footer>div{
    display: table;
    width: 99%;
    height: 50%;
}
footer p{
    margin: 0;
    font-family: cursive;
    font-size: 10pt;
    color: white;
    display: table-cell;
    vertical-align: middle;
}
